h1{
   background-color: blue;
   text-align:center;
} 
body {
   background-image: url("../img/fond.jpg");
}

h1::after {
   content: "";
   position: absolute;
   top: -10px;
   left: -10px;
   right: -10px;
   bottom: -10px;
   background-color: rgba(0, 0, 255, 0); /* Bleu transparent */
   transition: background-color 1s ease-in-out;
   z-index: -1;
}

h1:hover::after {
   background-color: rgba(0, 0, 255, 0.3); /* Bleu transparent (30% d'opacité) */
}

h1.initial-animation::after {
   background-color: rgba(0, 0, 255, 0.3); /* Bleu transparent (30% d'opacité) */
   animation: fadeIn 1s ease-in-out 2s forwards; /* Déclenche l'animation après un délai de 2 secondes */
}

@keyframes fadeIn {
   from {
       background-color: rgba(0, 0, 255, 0); /* Début de l'animation : transparent */
   }
   to {
       background-color: rgba(0, 0, 255, 0.3); /* Fin de l'animation : 30% d'opacité */
   }
}
#nav

nav {
   background-color: #333;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav ul li {
   display: inline;
}

nav ul li a {
   display: block;
   padding: 10px 20px;
   text-decoration: none;
   color: white;
}

nav ul li a:hover {
   background-color: #555;
}

section {
   padding: 20px;
}

